name: Generate AU Localities
on:
  workflow_dispatch:
    inputs:
      url:
        description: 'URL to localities data'
        required: true
        default: 'https://data.gov.au/data/dataset/bdcf5b09-89bc-47ec-9281-6b8e9ee147aa/resource/cec25f3c-ddf6-42fc-8c3c-a53df81b90bd/download/suburbs-localities-february-2021.zip'
      tag:
        description: 'Release tag'
        required: true
        default: '2021-02'

jobs:
  checkout_dl:
    runs-on: ubuntu-latest
    container: osgeo/gdal:alpine-ultrasmall-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Download
      id: download
      env:
        DL_PATH: ${{github.event.inputs.url}}
      run: |
        apk add curl unzip
        curl $DL_PATH > data.zip
        unzip data.zip
        ls -l
        mkdir tmp
        mv Localities/Localities*/* tmp/
    - name: Create geojson
      run: |
        ./bin/convert_geojson_au
        mv tmp/AUS.geojson AUS.geojson
        gzip AUS.geojson
        ls -l
    - name: Archive AUS geojson as artifacts
      uses: actions/upload-artifact@v2
      with:
        name: aus-geojsonseq
        path: AUS.geojson.gz
          
  mbtiles:
    runs-on: ubuntu-latest
    container: klokantech/tippecanoe
    needs:
      - checkout_dl
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Download AUS geojson from artifacts
        uses: actions/download-artifact@v2
        with:
          name: aus-geojsonseq
      - name: Generate mbtiles
        id: download
        env:
          DL_PATH: ${{github.event.inputs.url}}
        run: |
          ls -l
          gunzip -k AUS.geojson.gz
          tippecanoe -zg -ab -o AUS.mbtiles -l "localities" -n "Suburbs and localities" -A "&copy; Geoscape Australia (CC BY 4.0)" --drop-densest-as-needed AUS.geojson
          gzip AUS.mbtiles

      - name: Archive AUS mbtiles as artifacts
        uses: actions/upload-artifact@v2
        with:
          name: aus-mbtiles
          path: AUS.mbtiles.gz

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            AUS.mbtiles.gz
            AUS.geojson.gz
          tag_name: ${{github.event.inputs.tag}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
