name: Generate AU LGA
on:
  workflow_dispatch:
    inputs:
      url:
        description: 'URL to LGA data'
        required: true
        default: 'https://www.abs.gov.au/ausstats/subscriber.nsf/log?openagent&1270055003_lga_2020_aust_shp.zip&1270.0.55.003&Data%20Cubes&D18F1308CA028E03CA258588001CC896&0&June%202020&16.06.2020&Latest'
      tag:
        description: 'Release tag'
        required: true
        default: '2020-06'

jobs:
  checkout_dl:
    runs-on: ubuntu-latest
    container: osgeo/gdal:alpine-ultrasmall-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Download
      id: download
      env:
        DL_PATH: ${{github.event.inputs.url}}
      run: |
        apk add curl unzip
        mkdir tmp
        curl -L $DL_PATH > data.zip
        unzip data.zip -d tmp/
        ls -l
        ls -l tmp/
    - name: Create geojson
      run: |
        ./bin/convert_geojson_au_abs
        mv tmp/AUSLGA.geojson AUSLGA.geojson
        gzip AUSLGA.geojson
        ls -l
    - name: Archive AUS geojson as artifacts
      uses: actions/upload-artifact@v2
      with:
        name: auslga-geojsonseq
        path: AUSLGA.geojson.gz
          
  mbtiles:
    runs-on: ubuntu-latest
    container: klokantech/tippecanoe
    needs:
      - checkout_dl
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Download AUS geojson from artifacts
        uses: actions/download-artifact@v2
        with:
          name: auslga-geojsonseq
      - name: Generate mbtiles
        id: download
        env:
          DL_PATH: ${{github.event.inputs.url}}
        run: |
          ls -l
          gunzip -k AUSLGA.geojson.gz
          tippecanoe -zg -ab -o AUSLGA.mbtiles -l "lga" -n "Local Government Areas" -A "&copy; Australian Bureau of Statistics" --drop-densest-as-needed AUSLGA.geojson
          gzip AUSLGA.mbtiles

      - name: Archive AUS mbtiles as artifacts
        uses: actions/upload-artifact@v2
        with:
          name: auslga-mbtiles
          path: AUSLGA.mbtiles.gz

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            AUSLGA.mbtiles.gz
            AUSLGA.geojson.gz
          tag_name: ${{github.event.inputs.tag}}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
